<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tavern Portal</title>
  <!-- TODO aggiungere una favicon per la scheda del browser -->
  <link rel="stylesheet" href="../css/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>

  <!-- Intestazione -->

  <!-- TODO rendere l'header un fragment o un component -->
  <header>
    <!-- TODO aggiungere un'icona logo -->
    <div class="logo">Tavern Portal</div>
    <!-- TODO la navbar deve mostrare username e logout in caso di accesso effettuato -->
    <nav>
      <!-- TODO stile dei link di accesso (font style) // normalizzare fontstyle a tutto il sito? -->
      <a href="#">Accedi</a>
      <a href="#">Registrati</a>
    </nav>
  </header>

  <!-- Benvenuto -->
  <main>
    <section class="hero">
      <div class="hero-content">
        <h1>Benvenuto alla Taverna</h1>
        <p>Gestisci le tue campagne di D&D, crea personaggi e vivi nuove avventure.</p>
        <button class="btn-primary">Inizia Ora</button>
      </div>
    </section>

    <!-- About -->
    <section class="about">
      <h2>Cos’è Tavern Portal?</h2>
      <p>
        La piattaforma per Dungeon Master e Giocatori per pianificare, creare e condividere
        le tue campagne di Dungeons&Dragons in un unico portale.
      </p>
    </section>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <p>© 2025 Tavern Portal. Tutti i diritti riservati.</p>
  </footer>

</body>

<!-- TODO (per il gestore del sito) necessaria cookie n privacy policy perché vengono gestiti dati personali -->

</html>