<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tavern Portal</title>
  <link rel="icon" type="image/x-icon" href="images/dice.png" />
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/landing.css" />
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>

<body class="main-bg-base landing-main-bg">

  <!-- Header Component -->
  <div data-component="header"></div>

  <!-- Modal Component -->
  <div data-component="login-modal"></div>

  <!-- Benvenuto -->
  <main>
    <section class="hero-section">
      <div class="hero">

        <div class="hero-content">
          <h1 id="welcome-title">Benvenuto nella Taverna</h1>
          <p id="welcome-description">Gestisci le tue campagne di D&D, crea personaggi e vivi nuove avventure.</p>
          <div class="btn-group" id="hero-buttons">
            <button class="btn-primary btn-auth" id="signup-btn"><a href="signup.html">Inizia Ora</a></button>
            <button class="btn-primary btn-auth login-btn" id="login-btn">Accedi</button>
          </div>
        </div>
      </div>
      <div class="hero switch-visual" style="display: none;">
        <button class="btn-primary">Passa alla Visuale Master</button>
      </div>
    </section>
    <!-- About -->
    <section class="about" id="about-section">
      <div class="info" id="about-info">
        <h2>Cos'è Tavern Portal?</h2>
        <p>
          La piattaforma per Dungeon Master e Giocatori per pianificare, creare e condividere
          le tue campagne di Dungeons&Dragons in un unico portale.
        </p>
      </div>
      <!-- placeholder, main page troppo spoglia senza -->
      <div class="chat" id="user-chat" style="display: none;">
        <h2>Futura implementazione in arrivo</h2>
        <p>Presto sarà disponibile una chat per gli utenti loggati.</p>
      </div>
    </section>
  </main>

  <!-- Footer Component -->
  <div data-component="footer"></div>

  <!-- Scripts personalizzati -->
  <script type="module" src="js/components.js"></script>
  <script type="module" src="js/page.landing.js"></script>

</body>

</html>