.error403-main-bg {
  background-image: url('../images/403.gif');
  background-position: center center;
}

.error404-main-bg {
  background-image: url('../images/404.gif');
  background-position: center bottom;
}
